:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f5f9;
    color: var(--dark-color);
  }
  .titulo{
    font-size: 25px;
    margin-left: 2rem;
    margin-right: 3rem;
    color: #007bff;
  }
  .nav-item{
    font-size:x-large;
  }
  .navbar {
    margin-bottom: 20px;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.25rem;
  }
  
  .table {
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .table thead th {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #fff;
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .btn {
    border-radius: 1.25rem;
  }
  
  .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-success {
    background-color: var(--success-color);
    border-color: var(--success-color);
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .form-control {
    border-radius: 0.25rem;
    box-shadow: none;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  h2 {
    color: var(--primary-color);
  }
  
  input[type="number"] {
    appearance: textfield;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  